* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
      
}
body{
  
    background: url(../imagens/fundo) no-repeat center/cover;
}
.conteiner{
    padding: 1rem;
}
.conteiner h1{
    margin: 0;
    
}
.conteiner img{
    width: 8rem;
}
li h2{    
    padding: .1rem;
    background-color: rgba(10,11,12, .7);
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}
ol.conteiner_personagens {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    align-items: center;  
    gap: 2rem;

}
ol .personagem{
  
    background: linear-gradient(to bottom, rgba(10,11,12, .7), rgba(6, 18, 52, .7), rgba(23,41,99, .7));
    border-radius: .5rem ;
    height: 15rem;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
ol .personagem_img{  
       
    border-radius: .5rem .5rem .1rem .1rem;
    height: 50%; 
    background-size: cover;
   
}   
ol .img-1{
    background: url(../imagens/Billy.webp) no-repeat top center/cover;  
}
ol .img-2{
    background: url(../imagens/Hugh.webp) no-repeat top center/cover;  
}ol .img-3{
    background: url(../imagens/Francês.webp) no-repeat top center/cover;  
}ol .img-4{
    background: url(../imagens/Leitinho\ de\ Mãe.webp) no-repeat top center/cover;  
}ol .img-5{
    background: url(../imagens/Kimiko.webp) no-repeat top center/cover;  
}ol .img-6{
    background: url(../imagens/Luz-Estrela.webp) no-repeat top center/cover;  
}ol .img-7{
    background: url(../imagens/Capitão\ Pátria.webp) no-repeat top center/cover;  
}ol .img-8{
    background: url(../imagens/Rainha\ Maeve.webp) no-repeat top center/cover;  
}ol .img-9{
    background: url(../imagens/Trem-Bala.webp) no-repeat top center/cover;  
}ol .img-10{
    background: url(../imagens/Profundo.webp) no-repeat top center/cover;  
}ol .img-11{
    background: url(../imagens/Black\ Noir.webp) no-repeat top center/cover;  
}ol .img-12{
    background: url(../imagens/Tempesta.webp) no-repeat top center/cover;  
}
ol li.personagem_fundo-1{
    background: url(../imagens/fundo-1.avif) no-repeat center/cover;
}
ol li.personagem_fundo-2{
    background: url(../imagens/fundo-2.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-3{
    background: url(../imagens/fundo-3.jpeg) no-repeat center/cover;
}
ol li.personagem_fundo-4{
    background: url(../imagens/fundo-4.avif) no-repeat center/cover;
}
ol li.personagem_fundo-5{
    background: url(../imagens/fundo-5.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-6{
    background: url(../imagens/fundo-6.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-7{
    background: url(../imagens/fundo-7.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-8{
    background: url(../imagens/fundo-8.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-9{
    background: url(../imagens/fund-9.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-10{
    background: url(../imagens/fundo-10.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-11{
    background: url(../imagens/fundo-11.jpg) no-repeat center/cover;
}
ol li.personagem_fundo-12{
    background: url(../imagens/fundo-12.avif) no-repeat center/cover;
}
 li .personagem-texto{
    width: 100%;
    height: 5rem;
    background: rgba(226, 148, 12, 0.2);
    border-radius: .1rem .1rem .5rem .5rem;  
    overflow-y: scroll;   
}
.texto{
    margin: .5rem;
    padding: .5rem;
    font-size: large;
    text-wrap: wrap;            
}
.personagem-texto::-webkit-scrollbar{
    width: 5px;
    
    background: #bb2222; 
    border-radius:  .1rem .1rem .5rem .1rem; 
}
.personagem-texto::-webkit-scrollbar-thumb{
    background: #f1f1f1;
    border-radius: .5rem;
}

/**/
@media screen and (min-width: 665px) {
    body {
        max-width: 665px;                    
        margin: 0 auto;
        background: url(../imagens/fundo) no-repeat center center/cover;         
      
    }

    .conteiner {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    ol.conteiner_personagens {
        
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;   
        gap: 2rem;   
        justify-items: center;
        align-items: center;
    }
    .conteiner img{
        align-self: flex-start;
        width: 15rem;
        padding: 1rem;
    }
    ol .personagem{
        height: 20rem;
    }
    li .personagem-texto{
        width: 100%;
        height: 7.5rem;
    }
}
